@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@400;700&display=swap");

:root {
    --main-color: #329bcd;
    --sec-color: #cd6432;
    --black: #101010;
}

html {
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    color: var(--black);
    position: absolute;
    width: 100%;
}

body {
    display: grid;
    grid-template-rows: [header-row] 15em [nav-row] auto [content-row] auto [footer-row] auto;
    grid-template-columns: [whitespace-left] 20% [main] 60% [whitespace-right] 20%;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "whitespace-left main whitespace-right"
        "footer footer footer";
}

header {
    grid-area: header;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: var(--main-color);
    height: 15em;
}

.hero-text {
    color: white;
    margin: 0;
    padding: 2em;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-shadow: 1px 1px 5px var(--black);
}

.hero-text > h1 {
    padding-top: 0;
}

nav {
    grid-area: nav;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    text-align: center;
    width: 8em;
    background-color: var(--main-color);
    border: var(--black);
    border-style: solid;
    border-width: 1px;
}

nav ul li a {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.5em 0em;
    color: var(--black);
    font-weight: 700;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a.active {
    text-decoration: underline;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    width: 100%;
    text-align: center;
    border-top: 5px solid var(--sec-color);
    margin-top: 2em;
}

footer p {
    margin-top: 2em;
}

footer a {
    display: block;
    margin-bottom: 2em;
    color: var(--black);
    text-decoration: none;
}

section,
article {
    padding-bottom: 1em;
}

img {
    padding: 1em 0em;
}

figure {
    padding-bottom: 1em;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 10px;
    border: 1px solid lightgray;
}

tr:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    color: var(--black);
    background-color: var(--sec-color);
}

#contact-form fieldset {
    margin: 1.5em 0em;
    padding: 1em;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

#contact-form legend {
    padding: 0em 0.5em;
    font-weight: 700;
}

#contact-form label {
    display: block;
    margin: 0.5em 0em;
}

#contact-form input[type="text"],
#contact-form input[type="tel"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    max-width: 30em;
    padding: 10px 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-sizing: border-box;
}

#contact-form input[type=submit] {
	background-color: var(--main-color);
	border: 1px solid lightgray;
	display: inline-block;
	cursor: pointer;
	color: white;
    font-weight: 700;
	padding: 10px 30px;
}

#contact-form input[type=submit]:hover {
	background:linear-gradient(to bottom, #54afda 5%, var(--main-color) 100%);
}

#weather {
    margin: 2em;
    padding: 0.5em;
    background-color: rgb(222, 244, 252);
    border: 5px solid var(--main-color);
    text-align: center;
}

#weather > p {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
}

h1 {
    letter-spacing: 0.02em;
    padding-top: 1em;
}

h2 {
    padding-top: 0.8em;
}